.main-app {
  display: grid;
  gap: $grid-gap;
  height: 100dvh;
  max-height: 100dvh;
  padding: 8px;

  .main-view {
    background-color: $bg-clr-secondary;
    height: 100%;
    max-height: 100%;
  }

  @include for-mobile-layout {
    grid-template-rows:
      1fr
      auto;
  }

  @include for-narrow-layout {
    grid-template-rows:
      1fr
      auto;
    grid-template-columns:
      auto
      1fr;
  }

  @include for-normal-layout {
    grid-template-rows:
      1fr
      auto;
    grid-template-columns:
      auto
      1fr;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
