// Colors
// Background color variables
$bg-clr-primary: #000;
$bg-clr-secondary: #121212;
$bg-clr-main-view-header: #075842;

// Element color variables
$elem-clr-primary: #fff;
$elem-clr-secondary: #a7a7a7;
$elem-clr-accent: #1fdf64;

// Scrollbar
$scrollbar-bg-clr: $bg-clr-secondary;
$scrollbar-thumb-clr: #595959;
$scrollbar-hover-clr: #888888;
$scrollbar-drag-clr: #b7b7b7;
$scrollbar-width: 12px;

// Border radius
$container-border-radius: 8px;
$btn-round-border-radius: 50%;

// Layout
$grid-gap: 8px;

// Breakpoints
$mobile-breakpoint: 560px;
$narrow-breakpoint: 1160px;
$normal-breakpoint: 1360px;